body{
    margin:0;
    padding: 0;
    font-size: 14px;
}

.nav-link {
    color: #404040;
}

li > a:hover {
    text-decoration: underline;
}


.main-logo #logo{
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 110px ;
    padding-bottom: 10px;
}

.main-search{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    max-width: 482px;
    width: auto;
}

.main-search:hover{
    box-shadow: 2px 2px 2px #d1d4db;
}

.google-search{
    display: flex;
    margin: 0 auto;
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

#form-search{
    width: 400px;
    border-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#speaker{
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    flex-direction: row;
}

.buttons input[type="submit"]{
    text-align: center;
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #eef0f1;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

/*input[type="submit"]{
    border-style: none;
    height: auto;
}*/

footer{
    background: #f2f2f2;
    position: fixed; 
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    justify-content: space-around;
}
.footer-1{
    padding:10px;
    color: #404040 ;
    border-bottom: solid 1.5px #e4e4e4;
    margin-left: 15px;
}

.footer-2 ul li{
    display: inline;
    list-style: none;
    padding: 10px;
    margin-left: 15px;
}

footer a{
    color: #404040 ;
    text-decoration: none;
}

footer ul{
    float:left;
    padding:1px;
}

.footer-right{
    float:right;
    margin-right: 15px;
}